@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  }
  
*{
    margin: 0;
    padding: 0;
}
.display-flex{
    display: flex;
}
.navber{
   
    justify-content: space-between;
  margin :0 auto;
    margin-top: 20px;
    align-items: center;
    max-width: 1440px;
    
}
.nav-items{
    list-style: none;
    margin-right: 40px;
    
    
}
.navber-links{
    margin-left: 186px;
    margin-right: 186px;
}
.nav-link{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600px;
}
.nav-link:hover{
    background-color: #d8d8d8;
    color: purple;

}
.orange{
    color: #FEA301;
}
.skybule{
    color: #01ACFD;
}
.aqua{
    color: #05D4DF;
}
.purple{
    color: #5D58EF;
}
.brand{
    font-size: 2rem;
    font-weight: 800px;
    text-align: center;
    margin-left: 11px;
    margin-top: 17px;
    margin-bottom: 15px;
}

.btn-primary{
    padding: 12px 60px;
    font-size: 1.25rem;
    font-weight: 600px;
    background-color: #FEA301;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    
    
}

.logo{
    margin-left: 100px;
}

.banner-section{
    display: flex;
    gap: 60px ;
    max-width: 1440px;
    margin:0 auto;
    
}
.banner-content{
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 125px;
    padding: 0px;
    
}
.enroll-btn{
    padding: 12px 60px;
    font-size: 1.25rem;
    font-weight: 600px;
    border-radius: 10px;
    background-color: #111111;
    color: #FFFFFF;
    margin-top: 24px;
}
.empower{
    font-size: 3.5rem;
    font-weight: 800px;
    color: #FEA301;
}
.student{
    font-size: 3.5rem;
    font-weight: 800px;
    color: #111111;
}
.vision{
    font-size: 3.5rem;
    font-weight: 800px;
    color: #01ACFD;
}
.banner-description{
    font-size:1.25rem;
    margin-top: 24px

}

.Standard-Curriculam{
    
    
    background-image: url("assets/bg.png");
    
}
.carriculam{
    margin-top: 100px;
    text-align: center;
    font-size: 2.8rem;
}
.carriculam-container{
    max-width: 1440px;
    margin:0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 24px;
   

}
.kinder-1{
    border: 1px solid #8ECCD0;
    border-radius: 18px;
    background-image: linear-gradient(180deg, #DEF5FF, #FFFFFF);
    align-items: center;
    text-align: center;
    height: 476px;
    width: 420px;
    
}
.box{
    margin-top: 52px;
    margin-left: 40px;
    margin-right: 40px;
    gap: 24px;
}

.kinder-2{
    border: 1px solid #FFF4DC;
    border-radius: 18px;
    background-image: linear-gradient(180deg, #FFF4DC, #FFFFFF);
    align-items: center;
    text-align: center;
    height: 476px;
    width: 420px;
}
.kinder-3{
    border: 1px solid #F2E8FF;
    border-radius: 18px;
    background-image: linear-gradient(180deg, #F2E8FF, #FFFFFF);
    align-items: center;
    text-align: center;
    height: 476px;
    width: 420px;
}
.kinder-title{
    font-size: 1.5rem;
    margin-top: 32px;
    font-weight: 800px;
}
.kinder-description{
    margin-top: 32px;
    font-size: 1rem;
    font-weight: 500px;
    color: #808080;
}
.read-more{
    margin-top: 33px;
    font-size: 1rem;
    color: #8700FF;
    font-weight: 600px;

}
.read-more-2{
    margin-top: 33px;
    font-size: 1rem;
    color: #F0AA00;
    font-weight: 600px;
 
}
.read-more-1{
    margin-top: 33px;
    font-size: 1rem;
    color: #64C8FF;
    font-weight: 600px;
}
.group{
    margin-top: 80px;
    
    text-align: center;
}
.our-story{
    margin-top: 60px;
    background-image: linear-gradient(to bottom, #FFFFFF, #FFF4DC );
    max-width: 1920px;
    height: 1020px;
    
}
.story-container{
    display: flex;
    gap: 22px;
    margin-left: 100px;
}
.story-title{
    font-size: 2.5rem;
    text-align: center;
}
.number-1{
    width: 540px;
    height: 630px;
    margin-top: 80px;
    margin-left: 200px;
    background-color: #FFFFFF;
    border-radius: 16px;
}
.image-1{
    width: 100%;
    border-radius: 16px 16px 0 0;
}
.story-btn-1{
    position: relative;
    top: -30px;
    margin-left: 38px;
    height: 47px;
    width: 174px;
    padding: 15px;
    border-radius: 47px;
    background-color: #3CD8E8;
    font-size: 1rem;
    font-weight: 500px;
    color: #FFFFFF;
    border: none;
}
.story-title-1{
    font-size: 24px;
    font-weight: 800px;
    margin: 55px 38px;
}
.story-description-1{
    margin: 55px 38px;
}
.number-2{
    width: 540px;
    height: 630px;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
    margin-right: 140px;
}
.title{
    font-size: 1rem;
    font-weight: 800px;
    padding-left: 35px;

}
.card{
    height: 300px;
    width: 290px;
    background-color: #FFFFFF;
    border-radius: 16px;
}
.card-image{
    border-radius: 16px 16px 0 0;
}

.story-btn-2{
    height: 39px;
    width: 179;
    padding: 12px 15px;
    border-radius: 47px;
    background-color: #8ECCD0;
    border: none;
    position: relative;
    margin-left: 30px;
    top: -25px;
}
.story-btn-3{
    height: 39px;
    width: 179;
    padding: 12px 15px;
    border-radius: 47px;
    background-color: #01ACFD;
    border: none;
    position: relative;
    margin-left: 30px;
    top: -25px;
}
.story-btn-4{
    height: 39px;
    width: 179;
    padding: 12px 15px;
    border-radius: 47px;
    background-color: #FFF4DC;
    border: none;
    position: relative;
    margin-left: 30px;
    top: -25px;
}
.story-btn-5{
    height: 39px;
    width: 179;
    padding: 12px 15px;
    border-radius: 47px;
    background-color: #F2E8FF;
    border: none;
    position: relative;
    margin-left: 30px;
    top: -25px;
}
.view{
    margin-top: 50px;
    display:  flex;
    justify-content: center;
}

.view-button{
    height: 50px;
    width: 197px;
    
}
footer{
    background-color: #01ACFD;
    width: 100%;
}
.footer{
    max-width: 1440px;
    height: 520px;
    background-color: #01ACFD;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   margin: 0 auto;
    align-items: center;
    justify-content: center;
    
}
.first{
    max-width: 400px;
    height: 100px;
}
.logo-section{
    display: flex;
}
.first-title{
    font-size: 2.6rem;
    font-weight: 800px;
    color: #FFFFFF;
    margin-top: 15px;
    margin-left: 10px;

}
.first-description{
    margin-top: 15px;
    font-size: 1.25rem;
    color: #FFFFFF;

}
.second{
    padding-left: 80px;
}
.links{
    list-style: none;
    font-size: 1.25rem;
    color: #FFFFFF;
    margin-top: 15px;
    display: grid;
    gap: 20px;
}
.second{
    max-width: 400px;
    height: 100px;
}
.second-title{
    font-size: 1.5rem;
    color: #FFFFFF;
}
.social-media{
    max-width: 400px;
    height: 100px;
}
.media{
    margin-top: 30px;
}
.mobile-menu{
    height: 30px;
    width: 30px;
    display: none;
}
 
@media only screen and (max-width: 425px) {
    .brand{
        display: none;
    }
    .navber-links{
        display: none;
    }
    .btn-primary{
        display: none;
    }
    .mobile-menu{
        display: block;
    }
    .logo{
        margin-left: 20px;
    }
    .banner-section{
        flex-direction: column-reverse;
    }
    .banner-image{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0 20px;
        
    }
    .banner-image img{
        width: 100%;
        max-width: 350px;
    }
    .carriculam-container{
      flex-direction: column;
       
    
    }
    .banner-content{
        align-items: center;
        padding: 0 20px;
    }
    .banner-description,.banner-title{
        text-align: center;
    }
    .carriculam-container{
        padding: 0 20px;
        align-items: center;
        
    }
    .kinder-1, .kinder-2, .kinder-3{
        width: 350px;
        

    }
    .group{
        display: none;
    }
    .number-1{
        display: none;
    }
    .card{
        width: 170px;
        
    }
    .story-container{
        margin-left: 0;
        padding: 0 20px;
    }
    .card-image{
        width: 100%;

    }
    .footer{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        height: 100%;
        padding: 0 20px;

    }
    .second, .first{
        height: 100%;
        width: 100%;
    }
    .social-media{
        height: 100%;
        width: 100%;
    }
  }
